
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Welcome to Book Store Application</h1>
    <h3>@DateTime.Now.ToString("dd-M-yyyy")</h3>
    @{
        int a = 10;
        int b = 20;
        int c = a + b;
    }
    <h4>Sum = @c</h4>
    <p>Email - sohan@gmail.com</p>
    <p>Twitter - @@sohan</p>
</body>
</html>
